! General settings
URxvt.saveLines: 2000
URxvt.urgentOnBell: False
URxvt.cursorBlink: True
! Adjust the scrollbar
URxvt.scrollBar: False
! Adjust the geometry
URxvt.geometry: 280x80
! Remove borders
URxvt.borderLess: True

URxvt.depth: 32
URxvt.background: [75]#000000

URxvt*font: xft:Hack:autohint=true:size=12

!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

